.min-icon-font {
  &.iconfont {
    font-family: iconfont !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &--hover {
    @apply brightness-90;
  }
}
