@font-face {
  font-family: 'Source Code Pro';
  src: url('https://cdn.jsdelivr.net/npm/source-code-pro@2.38.0/TTF/SourceCodePro-Regular.ttf') format('truetype');
}

.code {
  @apply p-2 whitespace-pre overflow-auto;

  font-family: 'Source Code Pro', monospace;

  &-layout {
    @apply text-xs leading-5;

    &-title {
      @apply w-fit mx-2 px-3 pt-1.5 font-semibold text-sm text-white bg-[#0d1117] rounded-t-md;
    }
  }
}
