@import 'highlight.js/scss/github-dark';

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src:
    url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/woff2/FiraCode-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/woff/FiraCode-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/ttf/FiraCode-Regular.ttf') format('truetype');
}

.min-code {
  @apply block p-2 whitespace-pre overflow-scroll;

  font-family: 'Fira Code', monospace;

  &.wrap {
    @apply break-all whitespace-normal;
  }

  &-layout {
    $dark: #0d1117;

    @apply box-border flex flex-col text-sm;

    background-color: $dark;

    &-header {
      @apply flex-shrink-0 flex-center-y justify-between p-2 font-semibold text-white border-b-2 border-gray-600 border-solid;

      .ops {
        @apply flex-center font-normal text-2xs;

        .op {
          @apply px-2 py-1 bg-slate-800;

          &:first-child {
            @apply rounded-l;
          }

          &:last-child {
            @apply rounded-r;
          }

          &:not(:last-child) {
            @apply border-r border-solid;

            border-color: $dark;
          }

          &.active {
            @apply bg-indigo-800;
          }

          &.light {
            @apply bg-teal-700;
          }

          &.hover {
            @apply brightness-125;
          }
        }
      }
    }

    &-body {
      @apply flex-1 text-sm;
    }
  }
}
